<h3>Login</h3>
<b>ALL FIELDS ARE REQUIRED.</b>

<p>
<form action="/login" method="POST">
  <label for="username">Username:</label>
  <input type="text" name="username"></input><br>
  <label for="password">Password:</label>
  <input type="text" name="password"></input><br>
  <button type="submit" name="submit" value="submit">Login</button>
</form>
</p>
