<h2> Here's a list of <%= @employee.username.capitalize %>'s Projects</h2>
<% @employee.projects.each do |project|%>
<ul>
 <li>
   <b>Project Name: <%= project.name.capitalize %>: </b><br>
    <ul>
      <li>Project Description: <%=project.description.capitalize%></li>
      <li>Project Hours Required: <%=project.hours%></li>
    </ul>
  <li>
</ul>
<% end %>
