<h2> List of All Users & Their Projects </h2>
<% @users.each do |user| %>
<ul>
 <li>
   <%=user.username.capitalize%> works on the following projects: <br>
  <ul>
    <%user.projects.each do |project|%>
      <li><b>Project Name:</b> <%=project.name.capitalize%><br>
          Description: <%=project.description.capitalize%>
        </li>
      <%end%>
  </ul>
</li>
</ul>
<% end %>
