<h3>Edit Project</h3>
<p>Here is your existing project:<br>
<h4><%=@project.name.%></h4>
</p>
<br>
<br>
<form action="/projects/<%=@project.id%>/edit" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
  <label>Edit Project:</label>
  <br></br>
  <input type="text" name="content" id="content">
  <input type="submit" value="submit">
</form>
