<!-- show all individual projects, whose working on it, and whether its been completed-->

<h2> Here's a list of <%= @employee.name.capitalize %>'s Projects</h2>
<% @employee.projects.each do |project|%>
<ul>
 <li>
   <b>Project Name: <%= project.name.capitalize %>: </b><br>
    <ul>
      <li>Project Description: <%=project.description.capitalize%></li>
      <li>Project Hours Required: <%=project.hours%></li>
    </ul>
  <li>
</ul>
<% end %>

<p> Let's create more projects! Start <a href="/projects/new">here</a>
<p> You can also view all employees and projects <a href="/employees">here</a>
