<h2>Welcome! </h2>
<p>We hope you find this website helpful!
  To get started, please either:
  <ul>
    <li><a href="/signup">Signup</a></li>
    <li><a href="/login">Login</a></li>
  </ul>
</p>

<p>Afterwards, feel free to browse all:
  <ul>
    <li><a href="/employees">All Employees<a></li>
    <li><a href="/projects">All Projects<a></li>
  </ul>
</p>
