<h1>Where Employees and Projects Meet!</h1>

<%=yield%>

<br>
<br>
<br>

Make sure to <a href="/signup">Signup</a> or <a href="/login">Login</a> first!
<ul>
<li><a href="/employees">View by Employees</a></li>
<li><a href="/projects">View by Projects</a></li>
<li><a href="/projects/new">Create a Project</a></li>
</ul>
All Done? <a href="/signout">Sign Out Here</a>
