<h1>Where Employees and Projects Meet!</h1>

<%=yield%>

<br>
<br>
<br>
<h3>Find more information here:</h3>
<ul>
<li><a href="/signup">Sign up</a></li>
<li><a href="/employees">View by Employee</a></li>
<li><a href="/projects">View by Project</a></li>
</ul>
